@font-face {
    font-family: 'dead_stockbold';
    src: url('dead_stock-webfont.woff2') format('woff2'),
         url('dead_stock-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
