@font-face {
    font-family: 'Outrun future';
    src: url('outrun.woff2') format('woff2'),
         url('outrun.woff') format('woff');
    font-weight: 700;
    font-weight: normal;
    font-style: normal;
}
